org: tunogya
service: ipfs

provider:
  name: aws
  deploymentMethod: direct
  region: ap-northeast-1
  runtime: nodejs20.x
  environment:
    S3_BUCKET_NAME: ${env:S3_BUCKET_NAME}
  iam:
    role:
      managedPolicies:
        - "arn:aws:iam::aws:policy/AmazonS3FullAccess"

functions:
  upload:
    name: ipfs-upload
    handler: src/upload.handler
    events:
      - httpApi:
          path: /
          method: post
  presigned:
    name: s3-presigned
    handler: src/presigned.handler
    events:
      - httpApi:
          path: /presigned
          method: post